$font-site: "Dosis", sans-serif;
$secondary-font:"Luckiest Guy", cursive;
$nav-color:#c1ebf6;
$black-color: #000;
$yellow-color: #ffd600;
$light-purple: #b7a2bd;
$ligth-yellow-color:#ffe01b;
$purple-color: #9879b0;
$dark-purple-color:#79577f;